.VideoCard_flex {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.VideoCard_text {
    display: flex;
    gap: 15px;
    align-items:flex-start;
    margin: 0px 10px;
}
.VideoCard_thumbnail {
    margin: 10px 0px;
    border-radius: 10px;
}

.VideoCard_avatar {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.VideoCard_detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}